<div>
  <p style="font-size: 24px;">Olá, <strong>{{responsavel}}</strong> da empresa <strong>{{nome}}</strong></p>
  <p>Aqui está o link para redefinir sua senha:</p>
  <br />
  <br />
  <a href="{{link}}" target="_blank" style="cursor: pointer;">
    <button type='submit' style="font-size: 16px;
    font-weight: 800;
    padding: 15px 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 0 !important;
    border: none;
    color: #fff;
    font-family: 'Arial', sans-serif !important;
    background-color: #66cc66;
    cursor: pointer;">
      Alterar Senha
    </button>
  </a>
  <br />
  <br />
  <br />
  <br />
  <small>caso não consiga acessar pelo botão, aqui está o link <strong><a href="{{link}}">{{link}}</a></strong></small>
</div>